asgiref==3.11.1
Authlib==1.7.2
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
colorama==0.4.6
cryptography==49.0.0
Django==6.0.6
idna==3.18
joserfc==1.7.4
pillow==12.3.0
psycopg2-binary==2.9.12
pycparser==3.0
python-decouple==3.8
qrcode==8.2
reportlab==5.0.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
gunicorn==23.0.0
whitenoise==6.8.2
django-axes==8.3.1
django-ranged-response==0.2.0
django-simple-captcha==0.7.0
django-storages==1.14.4
boto3==1.35.32